{
  "tabWidth": 2,
  "useTabs": false,
  "wrapAttributes": "auto",
  "wrapLineLength": 120,
  "singleQuote": true,
  "trailingComma": "all",
  "printWidth": 120,
  "semi": false,
  "singleAttributePerLine": true,
  "vueIndentScriptAndStyle": true
}
